@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #475569; /* Gris más claro para mejor visibilidad */
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* Gris aún más claro al hover */
}

.dark .custom-scrollbar {
  scrollbar-color: #475569 transparent; /* Actualizar color para Firefox */
}

/* Ocultar scrollbar cuando no está en uso */
.custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  visibility: hidden;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb:vertical {
  visibility: visible;
}
